.content { opacity: 0; transition: opacity 1.2s linear; }
.content.loaded { opacity: 1; }
.tipsy.shown { opacity: 1 }

body {
  font-family: monospace;
  text-align: center;
  left: 0;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: #062938;
  color: #01a0e4;
}
.links {
  margin-top: 20px;
}
.links svg {
  width: 30px;
  color: #01a0e4;
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .commitscrape {
    zoom: 2;
  }
  .info {
    font-size: 29px;
  }
  .links {
    margin-top: 40px;
  }
  .links svg {
    width: 58px;
  }
}

.tipsy {
  border-radius: 3px;
  background: #fff;
  color: #000;
  font-weight: bold;
  width: max-content;
  padding: 10px;
  opacity: 0;
  position: inherit;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  transition: opacity 0.2s linear;
}

.content:not(.loaded) .tipsy {
  display: none;
}

.commitscrape-0 {
  fill: #83c8e6;
}
.commitscrape-1 {
  fill: #3d96bd;
}
.commitscrape-2 {
  fill: #166284;
}
.commitscrape-3 {
  fill: #0b455f;
}
.commitscrape { margin: 17px auto; }
