@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes height {
  0% {
    height: 0px;
  }
  100% {
    height: 91px;
  }
}

.content { opacity: 0; animation: 1s ease-in-out opacity forwards; }
.commits { opacity: 0; height: 0px; animation: 1s ease-out 0s 1 height forwards; }
.content.loaded .commits { animation: 1s ease-out 0s 1 height forwards, 1s ease-in-out 0s 1 opacity forwards; }
/*
#content { opacity: 1 !important; transition: opacity 0.8s ease; }
.commits { opacity: 0; height: 91px !important; transition: height 0.5s ease; }
.content.loaded .commits { opacity: 1; transition: all 1.2s ease; height: 91px !important; }
*/

.tipsy.shown { opacity: 1 }

body {
  font-family: monospace;
  text-align: center;
  left: 0;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: #0d1117;
  color: #01a0e4;
}
.links {
  margin-top: 20px;
}
.links svg {
  width: 30px;
  color: #01a0e4;
}

.tipsy {
  border-radius: 3px;
  background: #fff;
  color: #000;
  font-weight: bold;
  width: max-content;
  padding: 10px;
  opacity: 0;
  position: inherit;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  transition: opacity 0.2s linear;
}

.content:not(.loaded) .tipsy {
  display: none;
}

.commitscrape { margin: 17px auto; }
